
/* -------------- BUTTONS START -------------- */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;          /* 8px 16px */
  font-size: 0.875rem;           /* 14px */
  font-weight: 500;
  border-radius: 0.5rem;         /* 8px */
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: #2752ff;     /* blue-500 */
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #2563eb;     /* blue-600 */
}

.btn-secondary {
  background-color: #e5e7eb;     /* gray-200 */
  color: #111827;
}

.btn-outline {
  background: transparent;
  border: 2px solid #3b82f6;
  color: #3b82f6;
}

.btn-outline:hover {
  background-color: #3b82f6;
  color: white;
}

.btn-ghost {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;          /* 8px 16px */
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;         /* 8px */
  background: transparent;
  border: none;
  color: #3b82f6;                /* blue-500 */
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-ghost:hover {
  background-color: rgba(59, 130, 246, 0.1);
}

.btn-ghost:active {
  background-color: rgba(59, 130, 246, 0.2);
}

.btn-outline-clean {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #3b82f6;
  color: #3b82f6;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-outline-clean:hover {
  background-color: #3b82f6;
  color: white;
}

.btn-link {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2752ff;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.btn-link:hover {
  text-decoration: underline;
  color: #1d4ed8;   /* blue-700 */
}

/* -------------- BUTTONS END -------------- */

/* -------------- CARD START -------------- */
.card {
  background-color: #ffffff;
  border-radius: 1rem;           /* 16px */
  padding: 1.5rem;               /* 24px */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
}

.card-title {
  font-size: 1.25rem;            /* 20px */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.875rem;           /* 14px */
  color: #2f2f2ff3;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  /* max-width: 250px; */
  max-height: 140px;
}
/* -------------- CARD END -------------- */

/* -------------- FLEX START -------------- */
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }

.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-evenly { align-content: space-evenly; }

.flex-1 { flex: 1 1 0%; }
.flex-auto { flex: 1 1 auto; }
.flex-initial { flex: 0 1 auto; }
.flex-none { flex: none; }

.grow { flex-grow: 1; }
.grow-0 { flex-grow: 0; }

.shrink { flex-shrink: 1; }
.shrink-0 { flex-shrink: 0; }
/* -------------- FLEX END -------------- */

/* -------------- SIZING START -------------- */
.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.min-w-350 { min-width: 350px; }
.min-w-250 { min-width: 250px; }
.max-w-350 { max-width: 350px; }
.max-w-250 { max-width: 250px; }

.min-h-screen {
  min-height: 100vh;
}
/* -------------- SIZING END -------------- */

/* -------------- PADDINGS START -------------- */

.p-0 { padding: 0; }
.p-0\.5 { padding: 0.125rem; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.p-6 { padding: 1.5rem; }
.p-8 { padding: 2rem; }
.p-10 { padding: 2.5rem; }
.p-12 { padding: 3rem; }
.p-16 { padding: 4rem; }

/* X axis */
.px-0 { padding-left: 0; padding-right: 0; }
.px-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.px-6 { padding-left: 1.5rem; padding-right: 1.5rem; }
.px-8 { padding-left: 2rem; padding-right: 2rem; }

/* Y axis */
.py-0 { padding-top: 0; padding-bottom: 0; }
.py-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }
.py-6 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.py-8 { padding-top: 2rem; padding-bottom: 2rem; }

.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-4 { padding-top: 1rem; }
.pt-5 { padding-top: 1.25rem; }
.pt-6 { padding-top: 1.5rem; }

.pr-0 { padding-right: 0; }
.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 0.75rem; }
.pr-4 { padding-right: 1rem; }
.pr-5 { padding-right: 1.25rem; }
.pr-6 { padding-right: 1.5rem; }

.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-5 { padding-bottom: 1.25rem; }
.pb-6 { padding-bottom: 1.5rem; }

.pl-0 { padding-left: 0; }
.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 0.75rem; }
.pl-4 { padding-left: 1rem; }
.pl-5 { padding-left: 1.25rem; }
.pl-6 { padding-left: 1.5rem; }

/* -------------- PADDINGS END -------------- */

.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 0.75rem; }
.m-4 { margin: 1rem; }
.m-5 { margin: 1.25rem; }
.m-6 { margin: 1.5rem; }

/* X axis */
.mx-0 { margin-left: 0; margin-right: 0; }
.mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
.mx-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mx-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
.mx-4 { margin-left: 1rem; margin-right: 1rem; }
.mx-5 { margin-left: 1.25rem; margin-right: 1.25rem; }
.mx-6 { margin-left: 1.5rem; margin-right: 1.5rem; }

/* Y axis */
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.my-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.my-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.my-4 { margin-top: 1rem; margin-bottom: 1rem; }
.my-5 { margin-top: 1.25rem; margin-bottom: 1.25rem; }
.my-6 { margin-top: 1.5rem; margin-bottom: 1.5rem; }

/* Individual sides */
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-4 { margin-top: 1rem; }
.mt-5 { margin-top: 1.25rem; }
.mt-6 { margin-top: 1.5rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 0.75rem; }
.mr-4 { margin-right: 1rem; }
.mr-5 { margin-right: 1.25rem; }
.mr-6 { margin-right: 1.5rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }

.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 0.75rem; }
.ml-4 { margin-left: 1rem; }
.ml-5 { margin-left: 1.25rem; }
.ml-6 { margin-left: 1.5rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* -------------- MARGINS END -------------- */

/* -------------- CONTAINER START -------------- */
.container {
  width: 100%;
}
/* -------------- CONTAINER END -------------- */

/* -------------- GAP START -------------- */
.gap-0 { gap: 0rem; }          /* 0px */
.gap-px { gap: 1px; }
.gap-0\.5 { gap: 0.125rem; }   /* 2px */
.gap-1 { gap: 0.25rem; }       /* 4px */
.gap-1\.5 { gap: 0.375rem; }   /* 6px */
.gap-2 { gap: 0.5rem; }        /* 8px */
.gap-3 { gap: 0.75rem; }       /* 12px */
.gap-4 { gap: 1rem; }          /* 16px */
.gap-5 { gap: 1.25rem; }       /* 20px */
.gap-6 { gap: 1.5rem; }        /* 24px */
.gap-7 { gap: 1.75rem; }       /* 28px */
.gap-8 { gap: 2rem; }          /* 32px */
.gap-9 { gap: 2.25rem; }       /* 36px */
.gap-10 { gap: 2.5rem; }       /* 40px */
.gap-11 { gap: 2.75rem; }      /* 44px */
.gap-12 { gap: 3rem; }         /* 48px */
.gap-14 { gap: 3.5rem; }       /* 56px */
.gap-16 { gap: 4rem; }         /* 64px */
.gap-20 { gap: 5rem; }         /* 80px */
.gap-24 { gap: 6rem; }         /* 96px */
.gap-28 { gap: 7rem; }         /* 112px */
.gap-32 { gap: 8rem; }         /* 128px */
.gap-36 { gap: 9rem; }         /* 144px */
.gap-40 { gap: 10rem; }        /* 160px */
.gap-44 { gap: 11rem; }        /* 176px */
.gap-48 { gap: 12rem; }        /* 192px */
.gap-52 { gap: 13rem; }        /* 208px */
.gap-56 { gap: 14rem; }        /* 224px */
.gap-60 { gap: 15rem; }        /* 240px */
.gap-64 { gap: 16rem; }        /* 256px */
.gap-72 { gap: 18rem; }        /* 288px */
.gap-80 { gap: 20rem; }        /* 320px */
.gap-96 { gap: 24rem; }        /* 384px */
/* -------------- GAP END -------------- */

/* -------------- BORDERS START -------------- */
.border { border-width: 1px; }
.border-0 { border-width: 0px; }
.border-2 { border-width: 2px; }
.border-4 { border-width: 4px; }
.border-8 { border-width: 8px; }

.border-t { border-top-width: 1px; }
.border-r { border-right-width: 1px; }
.border-b { border-bottom-width: 1px; }
.border-l { border-left-width: 1px; }

.border-t-0 { border-top-width: 0px; }
.border-r-2 { border-right-width: 2px; }

.border-transparent { border-color: transparent; }
.border-black { border-color: #000; }
.border-white { border-color: #fff; }

.border-gray-500 { border-color: rgb(202, 202, 202); }
.border-red-500 { border-color: rgb(239 68 68); }
.border-blue-500 { border-color: rgb(59 130 246); }

.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-double { border-style: double; }
.border-none { border-style: none; }

.rounded-none { border-radius: 0px; }
.rounded-sm { border-radius: 0.125rem; }   /* 2px */
.rounded { border-radius: 0.25rem; }       /* 4px */
.rounded-md { border-radius: 0.375rem; }   /* 6px */
.rounded-lg { border-radius: 0.5rem; }     /* 8px */
.rounded-xl { border-radius: 0.75rem; }    /* 12px */
.rounded-2xl { border-radius: 1rem; }      /* 16px */
.rounded-3xl { border-radius: 1.5rem; }    /* 24px */
.rounded-full { border-radius: 9999px; }

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-b {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-tl { border-top-left-radius: 0.25rem; }
.rounded-tr { border-top-right-radius: 0.25rem; }
.rounded-br { border-bottom-right-radius: 0.25rem; }
.rounded-bl { border-bottom-left-radius: 0.25rem; }
/* -------------- BORDERS END -------------- */



/* -------------- TEXT START -------------- */
.text-sm { font-size: 0.875rem; }   /* 14px */
.text-base { font-size: 1rem; }     /* 16px */
.text-lg { font-size: 1.125rem; }   /* 18px */
.text-xl { font-size: 1.25rem; }    /* 20px */

.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-bold { font-weight: 700; }

.text-white { color: #ffffff; }
.text-red { color: #ef4444; }
.text-gray { color: #6b7280; }
.text-dark { color: #111827; }
.text-primary { color: #3b82f6; }
.text-primary-foreground { color: #ffffff; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.whitespace-nowrap {
  white-space: nowrap;
}
/* -------------- TEXT END -------------- */

/* -------------- BACKGROUND START -------------- */

.bg-white { background-color: #ffffff; }
.bg-gray { background-color: #f3f4f6; }
.bg-dark { background-color: #111827; }

.bg-primary { background-color: #3b82f6; }
.bg-primary-dark { background-color: #1e40af; }

.bg-gradient {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}
/* -------------- BACKGROUND END -------------- */

/* -------------- VISIBILITY START -------------- */
.visible { visibility: visible; }
.invisible {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* -------------- VISIBILITY END -------------- */
