:root {
  --background: #f3f2f2;
  --foreground: #171717;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.item-icon {
  width: 22px;
  height: 16px;
  border-radius: 20%;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .clear-button {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 15px;
  height: 15px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  max-height: 165px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.selected {
  background-color: #9abbec;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f3f2f2;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  border-radius: 0.5rem;
}